input,
textarea,
select,
button,
a {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(var(--r, 3), var(--g, 169), var(--b, 244), 0.5);
}

select {
  -webkit-appearance: menulist;
}

::-webkit-scrollbar {
  display: none;
}

.aki {
  /**
    **********************************
    * toolbars
    **********************************
  **/
  /**
    **********************************
    * dialog
    **********************************
  **/
  /**
    **********************************
    * bottom-sheet
    **********************************
  **/
  /**
    **********************************
    * context
    **********************************
  **/
  /**
    **********************************
    * topbar
    **********************************
  **/
  /**
    **********************************
    * tabs
    **********************************
  **/
  /**
    **********************************
    * counter
    **********************************
  **/
  /**
    **********************************
    * picker
    **********************************
  **/
  /**
    **********************************
    * layout
    **********************************
  **/
  /**
    **********************************
    * progress
    **********************************
  **/
  /**
    **********************************
    * banner
    **********************************
  **/
  /**
    **********************************
    * switch
    **********************************
  **/
  /**
    **********************************
    * animated
    **********************************
  **/
}
.aki-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  line-height: 1;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 4px;
}
.aki-btn > svg:first-child:not(.aki-btn-progress) {
  margin-left: -4px;
  margin-right: 8px;
}
.aki-btn + .aki-btn {
  margin-left: 8px;
}
.aki-btn-xl {
  min-width: 96px;
  height: 44px;
  font-size: 1.2rem;
}
.aki-btn-xl.aki-btn-outline {
  line-height: 36px;
}
.aki-btn-xl.aki-btn-circle {
  width: 40px;
}
.aki-btn-l {
  min-width: 80px;
  height: 40px;
  font-size: 1rem;
}
.aki-btn-l.aki-btn-outline {
  line-height: 32px;
}
.aki-btn-l.aki-btn-circle {
  width: 36px;
}
.aki-btn-m {
  min-width: 64px;
  height: 36px;
  font-size: 1rem;
}
.aki-btn-m.aki-btn-outline {
  line-height: 32px;
}
.aki-btn-m.aki-btn-circle {
  width: 36px;
}
.aki-btn-s {
  min-width: 64px;
  height: 32px;
  font-size: 1rem;
}
.aki-btn-s.aki-btn-outline {
  line-height: 28px;
}
.aki-btn-s.aki-btn-circle {
  width: 32px;
}
.aki-btn-xs {
  padding: 0 12px;
  min-width: 56px;
  height: 28px;
  font-size: 1rem;
}
.aki-btn-xs.aki-btn-outline {
  padding: 0 10px;
  line-height: 24px;
}
.aki-btn-xs.aki-btn-circle {
  width: 28px;
}
.aki-btn-circle {
  border-radius: 50%;
  min-width: initial;
}
.aki-btn-full-width {
  width: 100%;
  margin-left: 0;
}
.aki-btn-text {
  padding: 0 12px;
}
.aki-btn-text > :first-child {
  margin-left: 0;
}
.aki-btn-outline {
  border-color: rgb(var(--r, 3), var(--g, 169), var(--b, 244));
  border-style: solid;
  border-width: 1px;
}
.aki-btn-outline.aki-btn-plain, .aki-btn-outline[disabled] {
  border-color: #ddd;
}
.aki-btn-text, .aki-btn-outline {
  color: rgb(var(--r, 3), var(--g, 169), var(--b, 244));
}
.aki-btn-text:hover, .aki-btn-outline:hover {
  background-color: rgba(var(--r, 3), var(--g, 169), var(--b, 244), 0.1);
}
.aki-btn-text:focus, .aki-btn-outline:focus {
  background-color: rgba(var(--r, 3), var(--g, 169), var(--b, 244), 0.2);
}
.aki-btn-text.aki-btn-plain, .aki-btn-outline.aki-btn-plain {
  color: #666;
}
.aki-btn-text[disabled], .aki-btn-outline[disabled] {
  color: #e7e7e7;
}
.aki-btn-raise, .aki-btn-fill {
  color: white;
  background-color: rgb(var(--r, 3), var(--g, 169), var(--b, 244));
}
.aki-btn-raise:hover, .aki-btn-fill:hover {
  background-color: rgba(var(--r, 3), var(--g, 169), var(--b, 244), 0.9);
}
.aki-btn-raise:focus, .aki-btn-fill:focus {
  background-color: rgba(var(--r, 3), var(--g, 169), var(--b, 244), 0.8);
}
.aki-btn-raise.aki-btn-plain, .aki-btn-fill.aki-btn-plain {
  color: rgb(var(--r, 3), var(--g, 169), var(--b, 244));
  border-style: solid;
  border-width: 1px;
  border-color: rgb(var(--r, 3), var(--g, 169), var(--b, 244));
  background-color: rgba(var(--r, 3), var(--g, 169), var(--b, 244), 0.1);
}
.aki-btn-raise.aki-btn-plain:hover, .aki-btn-fill.aki-btn-plain:hover {
  background-color: rgba(var(--r, 3), var(--g, 169), var(--b, 244), 0.2);
}
.aki-btn-raise[disabled], .aki-btn-fill[disabled] {
  color: white;
  background-color: #e7e7e7;
}
.aki-btn-raise svg > circle, .aki-btn-fill svg > circle {
  stroke: white;
}
.aki-btn-raise {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.aki-btn-raise:hover {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
.aki-btn .aki-progress {
  display: inline-block;
}
.aki-btn .aki-progress.loading circle {
  animation: btn-loading 1.4s ease-in-out infinite;
}
@keyframes btn-loading {
  0%, 5% {
    stroke-dasharray: 8, 75;
    stroke-dashoffset: 16;
  }
  45% {
    stroke-dasharray: 55, 75;
  }
  55% {
    stroke-dasharray: 75, 75;
    stroke-dashoffset: -20;
  }
  95%, 100% {
    stroke-dashoffset: -50;
  }
}
.aki-btn-loading {
  pointer-events: none;
}
.aki-btn:hover {
  cursor: pointer;
}
.aki-snackbar {
  position: fixed;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  z-index: 900;
}
.aki-snackbar-wrap {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  min-height: 48px;
  background-color: #323232;
  overflow: hidden;
}
.aki-snackbar-wrap:not(.aki-snackbar-long-action) {
  max-height: 68px;
  align-items: center;
}
.aki-snackbar-wrap.aki-snackbar-long-action {
  flex-direction: column;
  padding-bottom: 8px;
}
.aki-snackbar-wrap.aki-snackbar-long-action > .aki-snackbar-action {
  align-self: flex-end;
  width: auto;
}
.aki-snackbar-wrap > span {
  flex: 1;
  margin: 16px 8px;
  line-height: 21px;
  color: white;
  font-size: 0.8125rem;
}
.aki-snackbar-wrap > .aki-snackbar-action {
  margin-left: 10px;
  width: 80px;
}
.aki-snackbar-wrap > .aki-snackbar-action:focus {
  background: none;
}
.aki-snackbar:not(.aki-snackbar-entire-width) {
  bottom: 8px;
}
.aki-snackbar:not(.aki-snackbar-entire-width).top {
  top: 8px;
  bottom: initial;
}
.aki-snackbar:not(.aki-snackbar-entire-width).center {
  bottom: 50vh;
}
.aki-snackbar:not(.aki-snackbar-entire-width) .aki-snackbar-wrap {
  width: 344px;
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.aki-snackbar-entire-width {
  bottom: 0;
}
.aki-snackbar-entire-width .aki-snackbar-wrap {
  width: 100vw;
}
.aki-snackbar-entire-width.top {
  top: 0;
  bottom: initial;
}
.aki-input {
  display: inline-block;
}
.aki-input > p {
  margin: 0;
  box-sizing: border-box;
  padding: 0 12px;
  width: 100%;
  line-height: normal;
  color: #666;
  font-size: 0.75rem;
}
.aki-input-main {
  width: 100%;
  position: relative;
  display: inline-flex;
  justify-content: center;
  box-sizing: border-box;
  height: 56px;
  background-color: transparent;
  cursor: text;
}
.aki-input-main input,
.aki-input-main textarea,
.aki-input-main select {
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  border: none;
  background: none;
}
.aki-input-main label {
  position: absolute;
  top: 16px;
  left: 12px;
  color: #999;
  cursor: text;
  pointer-events: none;
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.aki-input-main label.aside {
  top: 8px;
  color: rgb(var(--r, 3), var(--g, 169), var(--b, 244));
  font-size: 0.8125rem;
}
.aki-input-main.aki-input-fill {
  border-bottom: solid 1px #c1c1c1;
  border-radius: 4px 4px 0 0;
}
.aki-input-main.aki-input-fill input,
.aki-input-main.aki-input-fill textarea,
.aki-input-main.aki-input-fill select {
  padding: 20px 12px 0;
}
.aki-input-main.aki-input-fill > .line {
  position: absolute;
  bottom: -1px;
  width: 80%;
  height: 2px;
  background-color: rgb(var(--r, 3), var(--g, 169), var(--b, 244));
  opacity: 0;
  transition: width 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.aki-input-main.aki-input-fill:focus-within > .line {
  width: 100%;
  opacity: 1;
}
.aki-input-main.aki-input-fill:not(.aki-input-bgnone) {
  background-color: #f5f5f5;
}
.aki-input-main.aki-input-fill:not(.aki-input-bgnone):hover {
  background-color: #ececec;
}
.aki-input-main.aki-input-fill:not(.aki-input-bgnone):focus-within {
  background-color: #e4e4e4;
}
.aki-input-main.aki-input-outline {
  z-index: 1;
}
.aki-input-main.aki-input-outline > .line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: solid 1px rgba(0, 0, 0, 0.42);
  border-radius: 4px;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
}
.aki-input-main.aki-input-outline:focus-within > .line {
  border: solid 2px rgb(var(--r, 3), var(--g, 169), var(--b, 244));
}
.aki-input-main.aki-input-outline input,
.aki-input-main.aki-input-outline textarea,
.aki-input-main.aki-input-outline select {
  padding: 0 12px;
}
.aki-input-main.aki-input-outline label {
  left: 8px;
  padding: 0 4px;
}
.aki-input-main.aki-input-outline label.aside {
  top: -8px;
  background-color: inherit;
}
.aki-input-selection {
  display: inline-flex;
  align-items: center;
}
.aki-input-selection > input {
  display: none;
}
.aki-input-selection > input[type=radio] + i, .aki-input-selection > input[type=radio] + i > b {
  border-radius: 50%;
}
.aki-input-selection > input:checked + i {
  border-color: rgb(var(--r, 3), var(--g, 169), var(--b, 244));
}
.aki-input-selection > input:checked + i > b {
  transform: scale(1);
}
.aki-input-selection > label {
  flex: 1;
}
.aki-input-selection i,
.aki-input-selection b {
  display: inline-block;
  border-radius: 2px;
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.aki-input-selection i {
  position: relative;
  margin-right: 12px;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border: solid 2px rgba(0, 0, 0, 0.42);
}
.aki-input-selection b {
  position: absolute;
  left: 3px;
  top: 3px;
  width: 6px;
  height: 6px;
  background-color: rgb(var(--r, 3), var(--g, 169), var(--b, 244));
  transform: scale(0);
}
.aki-input > .aki-chip {
  padding: 0 12px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  color: #1d1d1d;
  border-radius: 16px;
  background-color: #e0e0e0;
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.aki-input > .aki-chip-active {
  color: white;
  background-color: rgb(var(--r, 3), var(--g, 169), var(--b, 244));
}
.aki-input > .aki-chip > .aki-input-slot {
  margin-left: -12px;
  border-radius: 50%;
}
.aki-badge {
  position: relative;
}
.aki-badge::after {
  position: absolute;
  color: white;
  border-radius: 10px;
  background-color: red;
}
.aki-badge-dot::after {
  content: "";
  top: -4px;
  left: 90%;
  width: 8px;
  height: 8px;
}
.aki-badge:not(.aki-badge-dot)::after {
  content: attr(badge);
  top: -5px;
  left: 90%;
  box-sizing: border-box;
  padding: 0 4px;
  min-width: 12px;
  height: 12px;
  text-align: center;
  line-height: 12px;
  font-size: 10px;
}
.aki-toolbars {
  min-height: 56px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  z-index: 80;
}
.aki-toolbars:not(.aki-toolbars-fill) {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
.aki-toolbars-fill {
  background-color: rgb(var(--r, 3), var(--g, 169), var(--b, 244));
}
.aki-toolbars-fill .aki-toolbar {
  color: overlay(rgb(var(--r, 3), var(--g, 169), var(--b, 244)), #bbb);
}
.aki-toolbars-fill .aki-toolbar.aki-toolbar-active {
  color: #fff;
}
.aki-toolbars > .aki-toolbar-layout {
  display: flex;
  width: 100%;
  max-width: 425px;
}
.aki-toolbars > .aki-toolbar-layout > .aki-toolbar {
  flex-grow: 1;
}
.aki-toolbars > .aki-toolbar-layout > .aki-toolbar > input[name=aki-toolbar] {
  display: none;
}
.aki-toolbars > .aki-toolbar-layout > .aki-toolbar > label {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  max-width: 168px;
  height: 100%;
}
.aki-toolbars > .aki-toolbar-layout > .aki-toolbar > label > div {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: inherit;
}
.aki-toolbars > .aki-toolbar-layout > .aki-toolbar > label > div > svg {
  fill: currentColor;
}
.aki-toolbars > .aki-toolbar-layout > .aki-toolbar > label > div > .aki-toolbar-text {
  font-size: 10px;
}
.aki-toolbar {
  color: #aaa;
}
.aki-toolbar-active {
  color: rgb(var(--r, 3), var(--g, 169), var(--b, 244));
}
.aki-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.aki-full-element {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: 100vh;
  min-height: 120px;
  z-index: 8;
}
.aki-full-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.aki .aki-modal-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.32) !important;
  z-index: 740;
}
.aki-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.32) !important;
  z-index: 740;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aki-dialog-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80vw;
  min-width: 280px;
  max-width: 560px;
  max-height: 500px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
}
.aki-dialog-layout > header,
.aki-dialog-layout > .aki-dialog-main,
.aki-dialog-layout > footer {
  padding-right: 24px;
  padding-left: 24px;
  box-sizing: border-box;
}
.aki-dialog-layout > header h1,
.aki-dialog-layout > header h2,
.aki-dialog-layout > header h3,
.aki-dialog-layout > header h4,
.aki-dialog-layout > header h5,
.aki-dialog-layout > header h6,
.aki-dialog-layout > header p,
.aki-dialog-layout > .aki-dialog-main h1,
.aki-dialog-layout > .aki-dialog-main h2,
.aki-dialog-layout > .aki-dialog-main h3,
.aki-dialog-layout > .aki-dialog-main h4,
.aki-dialog-layout > .aki-dialog-main h5,
.aki-dialog-layout > .aki-dialog-main h6,
.aki-dialog-layout > .aki-dialog-main p,
.aki-dialog-layout > footer h1,
.aki-dialog-layout > footer h2,
.aki-dialog-layout > footer h3,
.aki-dialog-layout > footer h4,
.aki-dialog-layout > footer h5,
.aki-dialog-layout > footer h6,
.aki-dialog-layout > footer p {
  margin: 0;
}
.aki-dialog-layout > header {
  padding-top: 20px;
  padding-bottom: 14px;
  line-height: 28px;
}
.aki-dialog-layout > .aki-dialog-main {
  flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 24px;
  color: #757575;
}
.aki-dialog-layout > footer {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  min-height: 52px;
  text-align: right;
}
.aki-dialog-layout.aki-dialog-scroll > header {
  border-bottom: solid 1px #e0e0e0;
}
.aki-dialog-layout.aki-dialog-scroll > .aki-dialog-main {
  max-height: 314px;
  overflow-y: scroll;
}
.aki-dialog-layout.aki-dialog-scroll > footer {
  border-top: solid 1px #e0e0e0;
}
.aki-dialog-full {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 700;
}
.aki-dialog-full > *:not(.aki-topbar) {
  background-color: #fff;
}
.aki-bottom-sheet {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.32) !important;
  z-index: 740;
}
.aki-bottom-sheet-layout {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  max-height: 50vh;
  background-color: #fff;
}
.aki-bottom-sheet-layout > header,
.aki-bottom-sheet-layout > .aki-bottom-sheet-main > * {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 16px;
  min-height: 56px;
  box-sizing: border-box;
}
.aki-bottom-sheet-layout > header {
  color: #666;
}
.aki-bottom-sheet-main {
  flex: 1;
}
.aki-bottom-sheet-scroll > header {
  border-bottom: solid 1px #e0e0e0;
}
.aki-bottom-sheet-scroll > .aki-bottom-sheet-main {
  overflow-y: scroll;
}
.aki-context-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 800;
}
.aki-context-layout {
  position: absolute;
  min-width: 112px;
  max-width: 280px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
.aki-context-layout > * {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 16px;
  min-height: 56px;
  box-sizing: border-box;
}
.aki-context-layout > *[disabled] {
  pointer-events: none;
  color: #ccc;
}
.aki-shadow-bottom {
  z-index: 1;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
.aki-shadow-bottom + * {
  padding-top: 5px;
}
.aki-topbar {
  z-index: 40;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 16px;
  min-height: 56px;
  color: rgb(var(--r, 3), var(--g, 169), var(--b, 244));
  background-color: white;
}
.aki-topbar-fill {
  color: white;
  background-color: rgb(var(--r, 3), var(--g, 169), var(--b, 244));
}
.aki-topbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  min-height: 24px;
}
.aki-topbar-nav > * {
  margin: 0;
}
.aki-topbar > h1 {
  flex: 1;
  margin: 0;
  padding-left: 32px;
  font-size: 16px;
}
.aki-topbar-action {
  display: flex;
  align-items: center;
}
.aki-topbar-action > * {
  margin-left: 24px;
}
.aki-tabs {
  z-index: 30;
  color: #888;
  background-color: white;
}
.aki-tabs-fill {
  color: rgb(calc(var(--r, 3) / (10 / 3) + 178), calc(var(--g, 169) / (10 / 3) + 178), calc(var(--b, 244) / (10 / 3) + 178));
  background-color: rgb(var(--r, 3), var(--g, 169), var(--b, 244));
}
.aki-tabs-fill .aki-tab-active {
  color: white;
}
.aki-tabs-fill > .aki-tab-layout > .aki-tab-line {
  background-color: white;
}
.aki-tabs-scroll {
  overflow-x: scroll;
}
.aki-tabs-scroll > .aki-tab-layout {
  margin-left: 52px;
  width: max-content;
}
.aki-tabs:not(-scroll) .aki-tab {
  flex: 1;
}
.aki-tab > input[type=radio] {
  display: none;
}
.aki-tab > label {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  min-width: 90px;
  max-width: 360px;
  min-height: 48px;
}
.aki-tab > label > div {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: inherit;
}
.aki-tab > label > div > svg {
  fill: currentColor;
}
.aki-tab-layout {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}
.aki-tab-line {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: rgb(var(--r, 3), var(--g, 169), var(--b, 244));
  transform: translateX(0);
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.aki-tab-active {
  color: rgb(var(--r, 3), var(--g, 169), var(--b, 244));
}
.aki-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 72px;
  color: rgb(var(--r, 3), var(--g, 169), var(--b, 244));
}
.aki-picker {
  position: relative;
  width: 100%;
  height: 168px;
  text-align: center;
  overflow: hidden;
}
.aki-picker-options {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  transition: transform 0.2s;
}
.aki-picker-options > li {
  height: 56px;
  line-height: 56px;
}
.aki-picker-board {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.aki-picker-board > p {
  box-sizing: border-box;
  margin: 0;
  height: 56px;
}
.aki-picker-board > p:first-child, .aki-picker-board > p:last-child {
  background-color: #fff;
  opacity: 0.6;
}
.aki-picker-board > p:nth-child(2) {
  border-top: solid 2px rgb(var(--r, 3), var(--g, 169), var(--b, 244));
  border-bottom: solid 2px rgb(var(--r, 3), var(--g, 169), var(--b, 244));
}
+ .aki-picker {
  margin-left: 12px;
}
.aki-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.aki-page-main {
  flex: 1;
  overflow-y: scroll;
}
.aki-page-background {
  background-color: rgb(var(--r, 3), var(--g, 169), var(--b, 244));
}
.aki-page-background-opened .aki-page-main-mask {
  max-height: 100%;
}
.aki-page-background-layout {
  flex: 1;
  position: relative;
  min-height: 48px;
  z-index: 6;
  border-radius: 16px 16px 0 0;
  background-color: #fff;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  overflow: hidden;
}
.aki-page-background-layout > section {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
}
.aki-page-main-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  max-height: 0;
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(255, 255, 255, 0.7);
}
.aki-page .aki-background-header {
  z-index: 1;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0 16px;
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  font-weight: normal;
  border-bottom: solid 1px #e0e0e0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff;
}
.aki-progress {
  transform: rotate(-90deg);
}
.aki-progress.loading {
  animation: rotate 2s linear infinite;
}
.aki-progress.loading circle {
  animation: circle-loading 1.4s ease-in-out infinite;
}
.aki-progress circle {
  stroke: rgb(var(--r, 3), var(--g, 169), var(--b, 244));
}
@keyframes circle-loading {
  0%, 5% {
    stroke-dasharray: 8, 125;
    stroke-dashoffset: 16;
  }
  45% {
    stroke-dasharray: 105, 125;
  }
  55% {
    stroke-dasharray: 135, 125;
    stroke-dashoffset: -30;
  }
  95%, 100% {
    stroke-dashoffset: -117;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.aki-banner-wrap {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  padding: 8px;
  background-color: #fff;
  border-bottom: solid 1px #c1c1c1;
  z-index: 3;
}
.aki-banner-content {
  display: flex;
}
.aki-banner-icon {
  width: 40px;
  height: 40px;
}
.aki-banner-text {
  flex: 1;
  font-size: 12px;
  line-height: 20px;
}
.aki-banner-text > * {
  margin: 8px;
  padding: 0;
}
.aki-banner-footer {
  display: flex;
  justify-content: flex-end;
}
.aki-switch-opened .aki-switch-bar {
  background-color: rgb(calc(var(--r, 3) / 1.1), calc(var(--g, 169) / 1.1), calc(var(--b, 244) / 1.1));
  transform: translateX(16px);
}
.aki-switch-opened .aki-switch-bar-layout {
  background-color: rgb(calc(var(--r, 3) / (10 / 3) + 178), calc(var(--g, 169) / (10 / 3) + 178), calc(var(--b, 244) / (10 / 3) + 178));
}
.aki-switch-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aki-switch-bar {
  position: absolute;
  top: -2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: all 0.1s;
}
.aki-switch-bar-layout {
  position: relative;
  width: 36px;
  height: 16px;
  border-radius: 10px;
  background-color: #9b9b9b;
}
.aki-background {
  height: 0;
  max-height: 100%;
  color: white;
  overflow-y: scroll;
  transform-origin: 0;
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.aki-background-show {
  max-height: max-content;
}
.aki-steps {
  display: flex;
}
.aki-step {
  position: relative;
  flex: 1;
  margin: 0 12px;
  text-align: center;
  color: #888;
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.aki-step:first-child {
  margin-left: 0;
}
.aki-step:last-child {
  margin-right: 0;
}
.aki-step-active, .aki-step-complete {
  color: rgb(var(--r, 3), var(--g, 169), var(--b, 244));
}
.aki-step-complete .aki-step-line {
  background-color: rgb(var(--r, 3), var(--g, 169), var(--b, 244));
}
.aki-step-icon {
  position: relative;
  display: inline-block;
}
.aki-step-line {
  position: absolute;
  top: 12px;
  left: 36px;
  width: 100%;
  height: 1px;
  background-color: #c1c1c1;
}
.aki-step:last-child .aki-step-line {
  display: none;
}
.aki-step-desc {
  margin: 0;
  font-size: 10px;
}
.aki-fab {
  width: min-content;
  line-height: 0;
  border-radius: 50%;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.aki-fab-regular > .aki-icon {
  padding: 16px;
}
.aki-fab-mini > .aki-icon {
  padding: 8px;
}
.aki-fab-fill {
  color: white;
  background-color: rgb(var(--r, 3), var(--g, 169), var(--b, 244));
}
.aki-fab-fill:active {
  background-color: rgba(var(--r, 3), var(--g, 169), var(--b, 244), 0.7);
}
.aki-fab-plain {
  color: gray;
  background-color: white;
}
.aki-fab-plain:active {
  background-color: rgb(calc(var(--r, 3) / (10 / 3) + 223), calc(var(--g, 169) / (10 / 3) + 223), calc(var(--b, 244) / (10 / 3) + 223));
}
.aki-fab-fixed, .aki-fabs {
  position: fixed;
  z-index: 120;
}
.aki-fabs:not(.aki-fabs-opened) .aki-fabs-layout .aki-fab {
  transform: scale(0);
}
.aki-fabs:not(.aki-fabs-opened) .aki-fabs-layout .aki-fab:nth-of-type(2) {
  transition-delay: 0.1333333333s;
}
.aki-fabs:not(.aki-fabs-opened) .aki-fabs-layout .aki-fab:nth-of-type(3) {
  transition-delay: 0.2s;
}
.aki-fabs:not(.aki-fabs-opened) .aki-fabs-layout .aki-fab:nth-of-type(4) {
  transition-delay: 0.2666666667s;
}
.aki-fabs:not(.aki-fabs-opened) .aki-fabs-layout .aki-fab:nth-of-type(5) {
  transition-delay: 0.3333333333s;
}
.aki-fabs:not(.aki-fabs-opened) .aki-fabs-layout .aki-fab:nth-of-type(6) {
  transition-delay: 0.4s;
}
.aki-fabs-opened .aki-fabs-layout .aki-fab {
  transform: scale(1);
}
.aki-fabs-opened .aki-fabs-layout .aki-fab:nth-of-type(2) {
  transition-delay: 0.1333333333s;
}
.aki-fabs-opened .aki-fabs-layout .aki-fab:nth-of-type(3) {
  transition-delay: 0.2s;
}
.aki-fabs-opened .aki-fabs-layout .aki-fab:nth-of-type(4) {
  transition-delay: 0.2666666667s;
}
.aki-fabs-opened .aki-fabs-layout .aki-fab:nth-of-type(5) {
  transition-delay: 0.3333333333s;
}
.aki-fabs-opened .aki-fabs-layout .aki-fab:nth-of-type(6) {
  transition-delay: 0.4s;
}
.aki-fade-enter-active, .aki-fade-leave-active {
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.aki-fade-enter, .aki-fade-leave-to {
  opacity: 0;
}
.aki-bgfade-enter-active, .aki-bgfade-leave-active {
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.aki-bgfade-enter, .aki-bgfade-leave-to {
  background-color: rgba(0, 0, 0, 0);
}
.aki-slide-bottom-enter-active, .aki-slide-bottom-leave-active {
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.aki-slide-bottom-enter, .aki-slide-bottom-leave-to {
  transform: translateY(101%);
}
.aki-slide-top-enter-active, .aki-slide-top-leave-active {
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.aki-slide-top-enter, .aki-slide-top-leave-to {
  transform: translateY(-101%);
}
.aki-fade-zoom-enter-active, .aki-fade-zoom-leave-active {
  transition: 0.2s ease-out;
}
.aki-fade-zoom-enter, .aki-fade-zoom-leave-to {
  opacity: 0;
  transform: scale(0.8);
}
.aki-rotate-enter {
  transform: rotate(-90deg);
}
.aki-rotate-enter-active {
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.aki-rotate-leave-active {
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.aki-rotate-leave-to {
  transform: rotate(-90deg);
}

/*# sourceMappingURL=index.css.map */
