::-webkit-scrollbar {
  display: none;
}
/**
  **********************************
  * button
  **********************************
**/
input,
textarea,
select,
button,
a {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(56, 187, 246, 0.5);
}
.aki-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  line-height: 1;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 4px;
  height: 36px;
  min-width: 64px;
  padding: 0 16px;
}
.aki-btn > :first-child {
  margin-left: -4px;
  margin-right: 8px;
}
.aki-btn + .aki-btn {
  margin-left: 8px;
}
.aki-btn.aki-btn-xl {
  min-width: 96px;
  font-size: 1.2rem;
  height: 40px;
}
.aki-btn.aki-btn-xl.aki-btn-outline {
  line-height: 36px;
}
.aki-btn.aki-btn-l {
  min-width: 80px;
  font-size: 1rem;
}
.aki-btn.aki-btn-l.aki-btn-outline {
  line-height: 32px;
}
.aki-btn.aki-btn-m {
  font-size: 1rem;
}
.aki-btn.aki-btn-m.aki-btn-outline {
  line-height: 32px;
}
.aki-btn.aki-btn-s {
  height: 32px;
  font-size: 1rem;
}
.aki-btn.aki-btn-s.aki-btn-outline {
  line-height: 28px;
}
.aki-btn.aki-btn-xs {
  min-width: 56px;
  padding: 0 12px;
  height: 28px;
  font-size: 0.85rem;
}
.aki-btn.aki-btn-xs.aki-btn-outline {
  padding: 0 10px;
  line-height: 24px;
}
.aki-btn.aki-btn-round {
  border-radius: 999px;
}
.aki-btn.aki-btn-circle {
  border-radius: 50%;
  min-width: initial;
}
.aki-btn.aki-btn-circle.aki-btn-xl {
  width: 40px;
}
.aki-btn.aki-btn-circle.aki-btn-l,
.aki-btn.aki-btn-circle.aki-btn-m {
  width: 36px;
}
.aki-btn.aki-btn-circle.aki-btn-s {
  width: 32px;
}
.aki-btn.aki-btn-circle.aki-btn-xs {
  width: 28px;
}
.aki-btn.aki-btn-full-width {
  width: 100%;
  margin-left: 0;
}
.aki-btn:hover {
  cursor: pointer;
}
.aki-btn.aki-btn-text,
.aki-btn.aki-btn-outline {
  color: #03a9f4;
}
.aki-btn.aki-btn-text:hover,
.aki-btn.aki-btn-outline:hover {
  background-color: #f7fcff;
}
.aki-btn.aki-btn-text:focus,
.aki-btn.aki-btn-outline:focus {
  background-color: #def4ff;
}
.aki-btn.aki-btn-text.aki-btn-plain,
.aki-btn.aki-btn-outline.aki-btn-plain {
  color: #666;
}
.aki-btn.aki-btn-text[disabled],
.aki-btn.aki-btn-outline[disabled] {
  color: #e7e7e7;
}
.aki-btn.aki-btn-raise,
.aki-btn.aki-btn-fill {
  color: white;
  background-color: #03a9f4;
}
.aki-btn.aki-btn-raise:hover,
.aki-btn.aki-btn-fill:hover {
  background-color: #14b4fc;
}
.aki-btn.aki-btn-raise:focus,
.aki-btn.aki-btn-fill:focus {
  background-color: #47c4fd;
}
.aki-btn.aki-btn-raise.aki-btn-plain,
.aki-btn.aki-btn-fill.aki-btn-plain {
  color: #03a9f4;
  border-style: solid;
  border-width: 1px;
  border-color: #03a9f4;
  background-color: #ebf8fe;
}
.aki-btn.aki-btn-raise[disabled],
.aki-btn.aki-btn-fill[disabled] {
  color: white;
  background-color: #e7e7e7;
}
.aki-btn.aki-btn-text {
  padding: 0 12px;
}
.aki-btn.aki-btn-text > :first-child {
  margin-left: 0;
}
.aki-btn.aki-btn-raise {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.aki-btn.aki-btn-raise:hover {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
.aki-btn.aki-btn-outline {
  border-color: #03a9f4;
  border-style: solid;
  border-width: 1px;
}
.aki-btn.aki-btn-outline.aki-btn-plain,
.aki-btn.aki-btn-outline[disabled] {
  border-color: #ddd;
}
/**
  **********************************
  * snackbars
  **********************************
**/
.aki-snackbars {
  position: fixed;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  z-index: 900;
}
.aki-snackbars .aki-snackbars-wrap {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  min-height: 48px;
  background-color: #323232;
  overflow: hidden;
}
.aki-snackbars .aki-snackbars-wrap:not(.aki-snackbars-long-action) {
  max-height: 68px;
  align-items: center;
}
.aki-snackbars .aki-snackbars-wrap.aki-snackbars-long-action {
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 8px;
}
.aki-snackbars .aki-snackbars-wrap.aki-snackbars-long-action > .aki-snackbars-action {
  width: auto;
}
.aki-snackbars .aki-snackbars-wrap > span {
  flex: 1;
  margin: 16px 8px;
  line-height: 21px;
  color: white;
  font-size: 0.8125rem;
}
.aki-snackbars .aki-snackbars-wrap > .aki-snackbars-action {
  margin-left: 10px;
  width: 80px;
}
.aki-snackbars .aki-snackbars-wrap > .aki-snackbars-action:focus {
  background: none;
}
.aki-snackbars:not(.aki-snackbars-entire-width) {
  bottom: 8px;
}
.aki-snackbars:not(.aki-snackbars-entire-width).top {
  top: 8px;
  bottom: initial;
}
.aki-snackbars:not(.aki-snackbars-entire-width).center {
  bottom: 50vh;
}
.aki-snackbars:not(.aki-snackbars-entire-width) .aki-snackbars-wrap {
  width: 344px;
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.aki-snackbars.aki-snackbars-entire-width {
  bottom: 0;
}
.aki-snackbars.aki-snackbars-entire-width .aki-snackbars-wrap {
  width: 100vw;
}
.aki-snackbars.aki-snackbars-entire-width.top {
  top: 0;
  bottom: initial;
}
/**
  **********************************
  * input
  **********************************
**/
.aki-input {
  display: inline-block;
}
.aki-input > p {
  margin: 0;
  box-sizing: border-box;
  padding: 0 12px;
  width: 100%;
  line-height: normal;
  color: #666;
  font-size: 0.75rem;
}
.aki-input > .aki-input-main {
  width: 100%;
  position: relative;
  display: inline-flex;
  justify-content: center;
  box-sizing: border-box;
  height: 56px;
  background-color: transparent;
  cursor: text;
}
.aki-input > .aki-input-main input,
.aki-input > .aki-input-main textarea,
.aki-input > .aki-input-main select {
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  border: none;
  background: none;
}
.aki-input > .aki-input-main label {
  position: absolute;
  top: 16px;
  left: 12px;
  color: #999;
  cursor: text;
  pointer-events: none;
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.aki-input > .aki-input-main label.aside {
  top: 8px;
  color: #03a9f4;
  font-size: 0.8125rem;
}
.aki-input > .aki-input-main.aki-input-fill {
  border-bottom: solid 1px #c1c1c1;
  border-radius: 4px 4px 0 0;
}
.aki-input > .aki-input-main.aki-input-fill input,
.aki-input > .aki-input-main.aki-input-fill textarea,
.aki-input > .aki-input-main.aki-input-fill select {
  padding: 20px 12px 0;
}
.aki-input > .aki-input-main.aki-input-fill > .line {
  position: absolute;
  bottom: -1px;
  width: 80%;
  height: 2px;
  background-color: #03a9f4;
  opacity: 0;
  transition: width 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.aki-input > .aki-input-main.aki-input-fill:focus-within > .line {
  width: 100%;
  opacity: 1;
}
.aki-input > .aki-input-main.aki-input-fill:not(.aki-input-bgnone) {
  background-color: #f5f5f5;
}
.aki-input > .aki-input-main.aki-input-fill:not(.aki-input-bgnone):hover {
  background-color: #ececec;
}
.aki-input > .aki-input-main.aki-input-fill:not(.aki-input-bgnone):focus-within {
  background-color: #e4e4e4;
}
.aki-input > .aki-input-main.aki-input-outline {
  z-index: 1;
}
.aki-input > .aki-input-main.aki-input-outline > .line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: solid 1px rgba(0, 0, 0, 0.42);
  border-radius: 4px;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
}
.aki-input > .aki-input-main.aki-input-outline:focus-within > .line {
  border: solid 2px #03a9f4;
}
.aki-input > .aki-input-main.aki-input-outline input,
.aki-input > .aki-input-main.aki-input-outline textarea,
.aki-input > .aki-input-main.aki-input-outline select {
  padding: 0 12px;
}
.aki-input > .aki-input-main.aki-input-outline label {
  left: 8px;
  padding: 0 4px;
}
.aki-input > .aki-input-main.aki-input-outline label.aside {
  top: -8px;
  background-color: inherit;
}
.aki-input > .aki-input-selection {
  display: inline-flex;
  align-items: center;
}
.aki-input > .aki-input-selection > input {
  display: none;
}
.aki-input > .aki-input-selection > input[type=radio] + i,
.aki-input > .aki-input-selection > input[type=radio] + i > b {
  border-radius: 50%;
}
.aki-input > .aki-input-selection > input:checked + i {
  border-color: #03a9f4;
}
.aki-input > .aki-input-selection > input:checked + i > b {
  transform: scale(1);
}
.aki-input > .aki-input-selection > label {
  flex: 1;
}
.aki-input > .aki-input-selection i,
.aki-input > .aki-input-selection b {
  display: inline-block;
  border-radius: 2px;
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.aki-input > .aki-input-selection i {
  position: relative;
  margin-right: 12px;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border: solid 2px rgba(0, 0, 0, 0.42);
}
.aki-input > .aki-input-selection b {
  position: absolute;
  left: 3px;
  top: 3px;
  width: 6px;
  height: 6px;
  background-color: #03a9f4;
  transform: scale(0);
}
/**
  **********************************
  * badges
  **********************************
**/
.aki-badges {
  position: relative;
}
.aki-badges::after {
  position: absolute;
  color: white;
  border-radius: 10px;
  background-color: red;
}
.aki-badges.aki-badges-dot::after {
  content: '';
  top: -4px;
  left: 90%;
  width: 8px;
  height: 8px;
}
.aki-badges:not(.aki-badges-dot)::after {
  content: attr(badges);
  top: -5px;
  left: 90%;
  box-sizing: border-box;
  padding: 0 4px;
  min-width: 12px;
  height: 12px;
  text-align: center;
  line-height: 12px;
  font-size: 10px;
}
/**
  **********************************
  * toolbars
  **********************************
**/
.aki-toolbars {
  min-height: 56px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  z-index: 90;
}
.aki-toolbars:not(.aki-toolbars-fill) {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
.aki-toolbars.aki-toolbars-fill {
  background-color: #03a9f4;
}
.aki-toolbars.aki-toolbars-fill .aki-toolbar {
  color: #04d1f9;
}
.aki-toolbars.aki-toolbars-fill .aki-toolbar.aki-toolbar-active {
  color: #fff;
}
.aki-toolbars > .aki-toolbar-layout {
  display: flex;
  width: 100%;
  max-width: 425px;
}
.aki-toolbars > .aki-toolbar-layout > .aki-toolbar {
  flex-grow: 1;
}
.aki-toolbars > .aki-toolbar-layout > .aki-toolbar > input[name=aki-toolbar] {
  display: none;
}
.aki-toolbars > .aki-toolbar-layout > .aki-toolbar > label {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  min-width: 80px;
  max-width: 168px;
  height: 100%;
}
.aki-toolbars > .aki-toolbar-layout > .aki-toolbar > label > div {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: inherit;
}
.aki-toolbars > .aki-toolbar-layout > .aki-toolbar > label > div > svg {
  fill: currentColor;
}
.aki-toolbars > .aki-toolbar-layout > .aki-toolbar > label > div > .aki-toolbar-text {
  font-size: 10px;
}
.aki-toolbar {
  color: #aaa;
}
.aki-toolbar.aki-toolbar-active {
  color: #03a9f4;
}
.aki-full-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.aki-modal-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.32) !important;
  z-index: 800;
}
/**
  **********************************
  * dialog
  **********************************
**/
.aki-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.32) !important;
  z-index: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aki-dialog > .aki-dialog-layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80vw;
  min-width: 280px;
  max-width: 560px;
  max-height: 500px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
}
.aki-dialog > .aki-dialog-layout > header,
.aki-dialog > .aki-dialog-layout > main,
.aki-dialog > .aki-dialog-layout > footer {
  padding-right: 24px;
  padding-left: 24px;
  box-sizing: border-box;
}
.aki-dialog > .aki-dialog-layout > header h1,
.aki-dialog > .aki-dialog-layout > main h1,
.aki-dialog > .aki-dialog-layout > footer h1,
.aki-dialog > .aki-dialog-layout > header p,
.aki-dialog > .aki-dialog-layout > main p,
.aki-dialog > .aki-dialog-layout > footer p {
  margin: 0;
}
.aki-dialog > .aki-dialog-layout > header {
  padding-top: 20px;
  padding-bottom: 14px;
  line-height: 28px;
}
.aki-dialog > .aki-dialog-layout > main {
  flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 24px;
  color: #757575;
}
.aki-dialog > .aki-dialog-layout > footer {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
  min-height: 52px;
  text-align: right;
}
.aki-dialog > .aki-dialog-layout.aki-dialog-scroll > header {
  border-bottom: solid 1px #e0e0e0;
}
.aki-dialog > .aki-dialog-layout.aki-dialog-scroll > main {
  max-height: 314px;
  overflow-y: scroll;
}
.aki-dialog > .aki-dialog-layout.aki-dialog-scroll > footer {
  border-top: solid 1px #e0e0e0;
}
.aki-dialog-full {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 700;
}
.aki-dialog-full > *:not(.aki-topbars) {
  background-color: #fff;
}
/**
  **********************************
  * bottom-sheet
  **********************************
**/
.aki-bottom-sheet {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.32) !important;
  z-index: 800;
}
.aki-bottom-sheet > .aki-bottom-sheet-layout {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  max-height: 50vh;
  background-color: #fff;
}
.aki-bottom-sheet > .aki-bottom-sheet-layout > header,
.aki-bottom-sheet > .aki-bottom-sheet-layout > main > * {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 16px;
  min-height: 56px;
  box-sizing: border-box;
}
.aki-bottom-sheet > .aki-bottom-sheet-layout > header {
  color: #666;
}
.aki-bottom-sheet > .aki-bottom-sheet-layout > main {
  flex: 1;
}
.aki-bottom-sheet > .aki-bottom-sheet-layout.aki-bottom-sheet-scroll > header {
  border-bottom: solid 1px #e0e0e0;
}
.aki-bottom-sheet > .aki-bottom-sheet-layout.aki-bottom-sheet-scroll > main {
  overflow-y: scroll;
}
/**
  **********************************
  * topbars
  **********************************
**/
.aki-shadow-bottom {
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.2), 0 4px 2px 0 rgba(0, 0, 0, 0.14), 0 7px 5px 0 rgba(0, 0, 0, 0.12);
}
.aki-shadow-bottom + * {
  margin-top: 5px;
}
.aki-topbars {
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 16px;
  min-height: 56px;
  color: #03a9f4;
  background-color: white;
}
.aki-topbars.aki-topbars-fill {
  color: white;
  background-color: #03a9f4;
}
.aki-topbars .aki-topbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  min-height: 24px;
}
.aki-topbars .aki-topbar-nav > * {
  margin: 0;
}
.aki-topbars > h1 {
  flex: 1;
  margin: 0;
  padding-left: 32px;
  font-size: 16px;
}
.aki-topbars .aki-topbar-action {
  display: flex;
  align-items: center;
}
.aki-topbars .aki-topbar-action > * {
  margin-left: 24px;
}
/**
  **********************************
  * tabs
  **********************************
**/
.aki-tabs {
  z-index: 5;
  color: #888;
  background-color: white;
}
.aki-tabs .aki-tab-active {
  color: #03a9f4;
}
.aki-tabs.aki-tabs-fill {
  color: #79ccf1;
  background-color: #03a9f4;
}
.aki-tabs.aki-tabs-fill .aki-tab-active {
  color: white;
}
.aki-tabs.aki-tabs-fill > .aki-tab-layout > .aki-tab-line {
  background-color: white;
}
.aki-tabs.aki-tabs-scroll {
  overflow-x: scroll;
}
.aki-tabs.aki-tabs-scroll > .aki-tab-layout {
  margin-left: 52px;
  width: max-content;
}
.aki-tabs:not(.aki-tabs-scroll) .aki-tab {
  flex: 1;
}
.aki-tabs > .aki-tab-layout {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}
.aki-tabs > .aki-tab-layout > .aki-tab > input[name=aki-tab] {
  display: none;
}
.aki-tabs > .aki-tab-layout > .aki-tab > label {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  min-width: 90px;
  max-width: 360px;
  min-height: 48px;
}
.aki-tabs > .aki-tab-layout > .aki-tab > label > div {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: inherit;
}
.aki-tabs > .aki-tab-layout > .aki-tab > label > div > svg {
  fill: currentColor;
}
.aki-tabs > .aki-tab-layout > .aki-tab-line {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: #03a9f4;
  transform: translateX(0);
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
/**
  **********************************
  * counter
  **********************************
**/
.aki-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 72px;
  color: #03a9f4;
}
/**
  **********************************
  * picker
  **********************************
**/
.aki-picker {
  position: relative;
  width: 100%;
  height: 168px;
  text-align: center;
  overflow: hidden;
}
.aki-picker .aki-picker-options {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transition: transform .2s;
}
.aki-picker .aki-picker-options > option {
  padding: 0;
  height: 56px;
  line-height: 56px;
}
.aki-picker .aki-picker-board {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.aki-picker .aki-picker-board > p {
  box-sizing: border-box;
  margin: 0;
  height: 56px;
}
.aki-picker .aki-picker-board > p:first-child,
.aki-picker .aki-picker-board > p:last-child {
  background-color: #fff;
  opacity: .6;
}
.aki-picker .aki-picker-board > p:nth-child(2) {
  border-top: solid 2px #03a9f4;
  border-bottom: solid 2px #03a9f4;
}
.aki-picker + .aki-picker {
  margin-left: 12px;
}
/**
  **********************************
  * layout
  **********************************
**/
.aki-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.aki-page > .aki-page-main {
  flex: 1;
  overflow-y: scroll;
}
/**
  **********************************
  * animated
  **********************************
**/
.aki-fade-enter-active,
.aki-fade-leave-active {
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.aki-fade-enter,
.aki-fade-leave-to {
  opacity: 0;
}
.aki-bgfade-enter-active,
.aki-bgfade-leave-active {
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.aki-bgfade-enter,
.aki-bgfade-leave-to {
  background-color: rgba(0, 0, 0, 0);
}
.aki-slide-bottom-enter-active,
.aki-slide-bottom-leave-active {
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.aki-slide-bottom-enter,
.aki-slide-bottom-leave-to {
  transform: translateY(101%);
}
.aki-slide-top-enter-active,
.aki-slide-top-leave-active {
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.aki-slide-top-enter,
.aki-slide-top-leave-to {
  transform: translateY(-101%);
}
.aki-fade-zoom-enter-active,
.aki-fade-zoom-leave-active {
  transition: 0.2s ease-out;
}
.aki-fade-zoom-enter,
.aki-fade-zoom-leave-to {
  opacity: 0;
  transform: scale(0.8);
}
