
@color-primary: #03a9f4;
@shadow-level-1: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
@shadow-level-2: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);

@bezier: cubic-bezier(.4,0,.2,1);
@transition-type-1: .28s @bezier;
@transition-type-2: .15s @bezier;

/**
  **********************************
  * button
  **********************************
**/

input,textarea,select,button{
  outline: none;
  background: none;
  border: none;
  outline: none;
}
.aki-btn{

  display: inline-flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  padding: 0 16px;

  min-width: 64px;
  height: 36px;

  line-height: 1;
  font-size: 0.875rem;
  font-weight: 500;

  border-radius: 2px;
  >:first-child{
    margin-left: -4px;
    margin-right: 8px;
  }
  &+.aki-btn{
    margin-left: 1rem;
  }
  &.aki-btn-dense{
    height: 32px;
    font-size: 0.8125rem;
    &.aki-btn-outline{
      line-height: 28px;
    }
  }
  &:hover{
    cursor: pointer;
  }

  &.aki-btn-text,&.aki-btn-outline{
    color: @color-primary;
    // background-color: transparent;
    &:hover{
      background-color: lighten(@color-primary, 50%)
    }
    &:focus{
      background-color: lighten(@color-primary, 45%)
    }
  }
  &.aki-btn-raise,&.aki-btn-unelevate{
    color: white;
    background-color: @color-primary;
    &:hover{
      background-color: lighten(@color-primary, 5%)
    }
    &:focus{
      background-color: lighten(@color-primary, 15%)
    }
  }

  &.aki-btn-text{
    padding: 0 12px;
    >:first-child{
      margin-left: 0;
    }
  }
  &.aki-btn-raise{
    box-shadow: @shadow-level-1;
    transition: box-shadow @transition-type-1;
    &:hover{
      box-shadow: @shadow-level-2;
    }
  }
  &.aki-btn-outline{
    border-color: @color-primary;
    border-style: solid;
    padding: 0 14px;
    line-height: 32px;
    border-width: 2px;
  }
}

/**
  **********************************
  * snackbars
  **********************************
**/

.aki-snackbars{
  position: fixed;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  z-index: 900;
  .aki-snackbars-wrap{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    min-height: 48px;
    
    background-color: #323232;
    overflow: hidden;
    &:not(.aki-snackbars-long-action){
      max-height: 68px;
      align-items: center;
    }
    &.aki-snackbars-long-action{
      flex-direction: column;
      align-items: flex-end;
      padding-bottom: 8px;
      >.aki-snackbars-action{
        width: auto;
      }
    }
    >span{
      flex: 1;
      margin: 16px 8px;
      line-height: 21px;
      color: white;
      font-size: 0.8125rem;
    }
    >.aki-snackbars-action{
      margin-left: 10px;
      width: 80px;
      &:focus{
        background: none;
      }
    }
  }
  &:not(.aki-snackbars-entire-width){
    bottom: 8px;
    &.top{
      top: 8px;
      bottom: initial;
    }
    &.center{
      bottom: 50vh;
    }
    .aki-snackbars-wrap{
      width: 344px;
      border-radius: 4px;
      box-shadow: @shadow-level-1;
    }
  }
  &.aki-snackbars-entire-width{
    .aki-snackbars-wrap{
      width: 100vw;
    }
    bottom: 0;
    &.top{
      top: 0;
      bottom: initial;
    }
  }
}

/**
  **********************************
  * input
  **********************************
**/
@input-color: #666;
.aki-input{
  display: inline-block;
  >p{
    margin: 0;
    box-sizing: border-box;
    padding: 0 12px;
    width: 100%;
    line-height: normal;
    color: @input-color;
    font-size: 0.75rem;
  }
  >.aki-input-main{
    width: 100%;
    position: relative;
    display: inline-flex;
    justify-content: center;
    box-sizing: border-box;
    height: 56px;
    background-color: #fff;
    cursor: text;
    input,textarea,select{
      width: 100%;
      box-sizing: border-box;
      font-size: 1rem;
      border: none;
      background: none;
    }
    label{
      position: absolute;
      top: 16px;
      left: 12px;
      color: #999;
      cursor: text;
      pointer-events: none;
      transition: all @transition-type-1;
      &.aside{
        top: 8px;
        color: @color-primary;
        font-size: 0.8125rem;
      }
    }
    &.aki-input-fill{
      border-bottom: solid 1px #c1c1c1;
      border-radius: 4px 4px 0 0;
      input,textarea,select{
        padding: 20px 12px 0;
      }
      >.line{
        position: absolute;
        bottom: -1px;
        width: 80%;
        height: 2px;
        background-color: @color-primary;
        opacity: 0;
        transition: width @transition-type-1;
      }
      &:focus-within>.line{
        width: 100%;
        opacity: 1;
      }
      &:not(.aki-input-bgnone){
        background-color: #f5f5f5;
        &:hover{
          background-color: #ececec;
        }
        &:focus-within{
          background-color: #e4e4e4;
        }
      }
    }
    &.aki-input-outline{
      z-index: 1;
      >.line{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: solid 1px rgba(0,0,0,.42);
        border-radius: 4px;
        transition: all @transition-type-2;
        z-index: -1;
      }
      &:focus-within{
        >.line{
          border: solid 2px @color-primary;
        }
      }
      input,textarea,select{
        padding: 0 12px;
      }
      label{
        left: 8px;
        padding: 0 4px;
        &.aside{
          top: -8px;
          background-color: inherit;
        }
      }
    }
  }
  >.aki-input-selection{
    display: inline-flex;
    align-items: center;
    >input{
      display: none;
      &[type=radio] {
        &+i,&+i>b{
          border-radius: 50%;
        }
      }
      &:checked+i{
        border-color: @color-primary;
        >b{
          transform: scale(1);
        }
      }
    }
    >label{
      flex: 1;
    }
    i,b{
      display: inline-block;
      border-radius: 2px;
      transition: @transition-type-1;
    }
    i{
      position: relative;
      margin-right: 12px;
      width: 16px;
      height: 16px;
      box-sizing: border-box;
      border: solid 2px rgba(0,0,0,.42);
    }
    b{
      position: absolute;
      left: 3px;
      top: 3px;
      width: 6px;
      height: 6px;
      background-color: @color-primary;
      transform: scale(0);
    }
  }
}
/**
  **********************************
  * toolbars
  **********************************
**/
.aki-toolbars{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 56px;
  display: flex;
  justify-content: center;
  background-color: @color-primary;
  z-index: 90;
  >.aki-toolbars-layout{
    display: flex;
    width: 100%;
    max-width: 425px;
    >.aki-toolbar{
      flex-grow: 1;
      >input[name=aki-toolbar]{
        display: none;
      }
      >label{
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 80px;
        max-width: 168px;
        height: 100%;
      }
    }
  }
}
.aki-toolbar{
  color: overlay(@color-primary, #bbb);
}
/**
  **********************************
  * animated
  **********************************
**/

.aki-fade-enter-active, .aki-fade-leave-active {
  transition: @transition-type-1;
}
.aki-fade-enter,.aki-fade-leave-to{
  opacity: 0;
}
.aki-slide-bottom-enter-active, .aki-slide-bottom-leave-active {
  transition: @transition-type-1;
}
.aki-slide-bottom-enter,.aki-slide-bottom-leave-to{
  transform: translateY(200px);
}
.aki-snackbars-enter-active, .aki-snackbars-leave-active {
  transition: .2s ease-out;
}
.aki-snackbars-enter,.aki-snackbars-leave-to{
  opacity: 0;
  transform: scale(.8);
}