/**
  **********************************
  * button
  **********************************
**/
.aki-btn {
  background: none;
  border: none;
  outline: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  min-width: 64px;
  height: 36px;
  line-height: 1;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 2px;
}
.aki-btn > :first-child {
  margin-left: -4px;
  margin-right: 8px;
}
.aki-btn + .aki-btn {
  margin-left: 1rem;
}
.aki-btn.aki-btn-dense {
  height: 32px;
  font-size: 0.8125rem;
}
.aki-btn.aki-btn-dense.aki-btn-outline {
  line-height: 28px;
}
.aki-btn:hover {
  cursor: pointer;
}
.aki-btn.aki-btn-text,
.aki-btn.aki-btn-outline {
  color: blue;
}
.aki-btn.aki-btn-text:hover,
.aki-btn.aki-btn-outline:hover {
  background-color: #ffffff;
}
.aki-btn.aki-btn-text:focus,
.aki-btn.aki-btn-outline:focus {
  background-color: #e5e5ff;
}
.aki-btn.aki-btn-raise,
.aki-btn.aki-btn-unelevate {
  color: white;
  background-color: blue;
}
.aki-btn.aki-btn-raise:hover,
.aki-btn.aki-btn-unelevate:hover {
  background-color: #1a1aff;
}
.aki-btn.aki-btn-raise:focus,
.aki-btn.aki-btn-unelevate:focus {
  background-color: #4d4dff;
}
.aki-btn.aki-btn-text {
  padding: 0 12px;
}
.aki-btn.aki-btn-text > :first-child {
  margin-left: 0;
}
.aki-btn.aki-btn-raise {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.aki-btn.aki-btn-raise:hover {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
.aki-btn.aki-btn-outline {
  border-color: blue;
  border-style: solid;
  padding: 0 14px;
  line-height: 32px;
  border-width: 2px;
}
/**
  **********************************
  * snackbars
  **********************************
**/
.aki-snackbars {
  position: fixed;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
}
.aki-snackbars .aki-snackbars-wrap {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
  min-height: 48px;
  background-color: #323232;
  overflow: hidden;
}
.aki-snackbars .aki-snackbars-wrap:not(.aki-snackbars-long-action) {
  max-height: 68px;
  align-items: center;
}
.aki-snackbars .aki-snackbars-wrap.aki-snackbars-long-action {
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 8px;
}
.aki-snackbars .aki-snackbars-wrap.aki-snackbars-long-action > .aki-snackbars-action {
  width: auto;
}
.aki-snackbars .aki-snackbars-wrap > span {
  flex: 1;
  margin: 16px 8px;
  line-height: 21px;
  color: white;
  font-size: 0.8125rem;
}
.aki-snackbars .aki-snackbars-wrap > .aki-snackbars-action {
  margin-left: 10px;
  width: 80px;
}
.aki-snackbars .aki-snackbars-wrap > .aki-snackbars-action:focus {
  background: none;
}
.aki-snackbars:not(.aki-snackbars-entire-width) {
  bottom: 8px;
}
.aki-snackbars:not(.aki-snackbars-entire-width).top {
  top: 8px;
  bottom: initial;
}
.aki-snackbars:not(.aki-snackbars-entire-width).center {
  bottom: 50vh;
}
.aki-snackbars:not(.aki-snackbars-entire-width) .aki-snackbars-wrap {
  width: 344px;
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.aki-snackbars.aki-snackbars-entire-width {
  bottom: 0;
}
.aki-snackbars.aki-snackbars-entire-width .aki-snackbars-wrap {
  width: 100vw;
}
.aki-snackbars.aki-snackbars-entire-width.top {
  top: 0;
  bottom: initial;
}
/**
  **********************************
  * input
  **********************************
**/
.aki-input {
  display: inline-block;
}
.aki-input input,
.aki-input textarea,
.aki-input select {
  outline: none;
}
.aki-input > p {
  margin: 0;
  box-sizing: border-box;
  padding: 0 12px;
  width: 100%;
  line-height: normal;
  color: #666;
  font-size: 0.75rem;
}
.aki-input > .aki-input-main {
  width: 100%;
  position: relative;
  display: inline-flex;
  justify-content: center;
  box-sizing: border-box;
  height: 56px;
  background-color: #fff;
  cursor: text;
}
.aki-input > .aki-input-main input,
.aki-input > .aki-input-main textarea,
.aki-input > .aki-input-main select {
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  border: none;
  background: none;
}
.aki-input > .aki-input-main label {
  position: absolute;
  top: 16px;
  left: 12px;
  color: #666;
  cursor: text;
  pointer-events: none;
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.aki-input > .aki-input-main label.aside {
  top: 8px;
  color: blue;
  font-size: 0.8125rem;
}
.aki-input > .aki-input-main.aki-input-fill {
  border-bottom: solid 1px rgba(0, 0, 0, 0.42);
  border-radius: 4px 4px 0 0;
}
.aki-input > .aki-input-main.aki-input-fill input,
.aki-input > .aki-input-main.aki-input-fill textarea,
.aki-input > .aki-input-main.aki-input-fill select {
  padding: 20px 12px 0;
}
.aki-input > .aki-input-main.aki-input-fill > .line {
  position: absolute;
  bottom: -1px;
  width: 80%;
  height: 2px;
  background-color: blue;
  opacity: 0;
  transition: width 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.aki-input > .aki-input-main.aki-input-fill:focus-within > .line {
  width: 100%;
  opacity: 1;
}
.aki-input > .aki-input-main.aki-input-fill:not(.aki-input-bgnone) {
  background-color: #f5f5f5;
}
.aki-input > .aki-input-main.aki-input-fill:not(.aki-input-bgnone):hover {
  background-color: #ececec;
}
.aki-input > .aki-input-main.aki-input-fill:not(.aki-input-bgnone):focus-within {
  background-color: #e4e4e4;
}
.aki-input > .aki-input-main.aki-input-outline {
  z-index: 1;
}
.aki-input > .aki-input-main.aki-input-outline > .line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: solid 1px rgba(0, 0, 0, 0.42);
  border-radius: 4px;
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
}
.aki-input > .aki-input-main.aki-input-outline:focus-within > .line {
  border: solid 2px blue;
}
.aki-input > .aki-input-main.aki-input-outline input,
.aki-input > .aki-input-main.aki-input-outline textarea,
.aki-input > .aki-input-main.aki-input-outline select {
  padding: 0 12px;
}
.aki-input > .aki-input-main.aki-input-outline label {
  left: 8px;
  padding: 0 4px;
}
.aki-input > .aki-input-main.aki-input-outline label.aside {
  top: -8px;
  background-color: inherit;
}
.aki-input > .aki-input-selection {
  display: inline-flex;
  align-items: center;
}
.aki-input > .aki-input-selection > input {
  display: none;
}
.aki-input > .aki-input-selection > input[type=radio] + i,
.aki-input > .aki-input-selection > input[type=radio] + i > b {
  border-radius: 50%;
}
.aki-input > .aki-input-selection > input:checked + i {
  border-color: blue;
}
.aki-input > .aki-input-selection > input:checked + i > b {
  transform: scale(1);
}
.aki-input > .aki-input-selection > label {
  flex: 1;
}
.aki-input > .aki-input-selection i,
.aki-input > .aki-input-selection b {
  display: inline-block;
  border-radius: 2px;
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.aki-input > .aki-input-selection i {
  position: relative;
  margin-right: 12px;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border: solid 2px rgba(0, 0, 0, 0.42);
}
.aki-input > .aki-input-selection b {
  position: absolute;
  left: 3px;
  top: 3px;
  width: 6px;
  height: 6px;
  background-color: blue;
  transform: scale(0);
}
/**
  **********************************
  * animated
  **********************************
**/
.aki-fade-enter-active,
.aki-fade-leave-active {
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.aki-fade-enter,
.aki-fade-leave-to {
  opacity: 0;
}
.aki-slide-bottom-enter-active,
.aki-slide-bottom-leave-active {
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
.aki-slide-bottom-enter,
.aki-slide-bottom-leave-to {
  transform: translateY(200px);
}
.aki-snackbars-enter-active,
.aki-snackbars-leave-active {
  transition: 0.2s ease-out;
}
.aki-snackbars-enter,
.aki-snackbars-leave-to {
  opacity: 0;
  transform: scale(0.8);
}
