
@color-primary: #03a9f4;
@shadow-level-1: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
@shadow-level-2: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
@shadow-level-3: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);

@bezier: cubic-bezier(.4,0,.2,1);
@transition-type-1: .28s @bezier;
@transition-type-2: .15s @bezier;

::-webkit-scrollbar {display:none}

/**
  **********************************
  * button
  **********************************
**/
@tap-c: hardlight(@color-primary, rgba(166,166,166,.7));
input,textarea,select,button,a{
  outline: none;
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(red(@tap-c), green(@tap-c), blue(@tap-c), .5);
}
.aki-btn{

  display: inline-flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;


  line-height: 1;
  font-size: 0.875rem;
  font-weight: 500;

  border-radius: 4px;
  >:first-child{
    margin-left: -4px;
    margin-right: 8px;
  }
  &+.aki-btn{
    margin-left: 8px;
  }
  &.aki-btn-xl{
    min-width: 96px;
    font-size: 0.875rem;
    height: 40px;
    &.aki-btn-outline{
      line-height: 36px;
    }
  }
  font-size: 0.8125rem;
  height: 36px;
  &.aki-btn-l{
    min-width: 80px;
    &.aki-btn-outline{
      line-height: 32px;
    }
  }
  min-width: 64px;
  padding: 0 16px;
  &.aki-btn-m{
    &.aki-btn-outline{
      line-height: 32px;
    }
  }
  &.aki-btn-s{
    height: 32px;
    &.aki-btn-outline{
      line-height: 28px;
    }
  }
  &.aki-btn-xs{
    min-width: 56px;
    padding: 0 12px;
    height: 28px;
    font-size: 0.75rem;
    &.aki-btn-outline{
      padding: 0 10px;
      line-height: 24px;
    }
  }
  &.aki-btn-round{
    border-radius: 999px;
  }
  &.aki-btn-circle{
    border-radius: 50%;
    min-width: initial;
    &.aki-btn-xl{
      width: 40px;
    }
    &.aki-btn-l,&.aki-btn-m{
      width: 36px;
    }
    &.aki-btn-s{
      width: 32px;
    }
    &.aki-btn-xs{
      width: 28px;
    }
  }
  &.aki-btn-full-width{
    width: 100%;
    margin-left: 0;
  }
  &:hover{
    cursor: pointer;
  }

  &.aki-btn-text,&.aki-btn-outline{
    color: @color-primary;
    &:hover{
      background-color: lighten(@color-primary, 50%)
    }
    &:focus{
      background-color: lighten(@color-primary, 45%)
    }
    &.aki-btn-plain{
      color: #666;
    }
    &[disabled]{
      color: #ddd;
    }
  }
  &.aki-btn-raise,&.aki-btn-fill{
    color: white;
    background-color: @color-primary;
    &:hover{
      background-color: lighten(@color-primary, 5%)
    }
    &:focus{
      background-color: lighten(@color-primary, 15%)
    }
    &.aki-btn-plain{
      color: @color-primary;
      border-style: solid;
      border-width: 1px;
      border-color: @color-primary;
      background-color: hardlight(@color-primary, #f5f5f5)
    }
  }

  &.aki-btn-text{
    padding: 0 12px;
    >:first-child{
      margin-left: 0;
    }
  }
  &.aki-btn-raise{
    box-shadow: @shadow-level-1;
    transition: box-shadow @transition-type-1;
    &:hover{
      box-shadow: @shadow-level-2;
    }
  }
  &.aki-btn-outline{
    border-color: @color-primary;
    border-style: solid;
    border-width: 1px;
    &.aki-btn-plain,&[disabled]{
      border-color: #ddd;
    }
  }
}

/**
  **********************************
  * snackbars
  **********************************
**/

.aki-snackbars{
  position: fixed;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  z-index: 900;
  .aki-snackbars-wrap{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    min-height: 48px;
    
    background-color: #323232;
    overflow: hidden;
    &:not(.aki-snackbars-long-action){
      max-height: 68px;
      align-items: center;
    }
    &.aki-snackbars-long-action{
      flex-direction: column;
      align-items: flex-end;
      padding-bottom: 8px;
      >.aki-snackbars-action{
        width: auto;
      }
    }
    >span{
      flex: 1;
      margin: 16px 8px;
      line-height: 21px;
      color: white;
      font-size: 0.8125rem;
    }
    >.aki-snackbars-action{
      margin-left: 10px;
      width: 80px;
      &:focus{
        background: none;
      }
    }
  }
  &:not(.aki-snackbars-entire-width){
    bottom: 8px;
    &.top{
      top: 8px;
      bottom: initial;
    }
    &.center{
      bottom: 50vh;
    }
    .aki-snackbars-wrap{
      width: 344px;
      border-radius: 4px;
      box-shadow: @shadow-level-1;
    }
  }
  &.aki-snackbars-entire-width{
    .aki-snackbars-wrap{
      width: 100vw;
    }
    bottom: 0;
    &.top{
      top: 0;
      bottom: initial;
    }
  }
}

/**
  **********************************
  * input
  **********************************
**/
@input-color: #666;
.aki-input{
  display: inline-block;
  >p{
    margin: 0;
    box-sizing: border-box;
    padding: 0 12px;
    width: 100%;
    line-height: normal;
    color: @input-color;
    font-size: 0.75rem;
  }
  >.aki-input-main{
    width: 100%;
    position: relative;
    display: inline-flex;
    justify-content: center;
    box-sizing: border-box;
    height: 56px;
    background-color: transparent;
    cursor: text;
    input,textarea,select{
      width: 100%;
      box-sizing: border-box;
      font-size: 1rem;
      border: none;
      background: none;
    }
    label{
      position: absolute;
      top: 16px;
      left: 12px;
      color: #999;
      cursor: text;
      pointer-events: none;
      transition: all @transition-type-1;
      &.aside{
        top: 8px;
        color: @color-primary;
        font-size: 0.8125rem;
      }
    }
    &.aki-input-fill{
      border-bottom: solid 1px #c1c1c1;
      border-radius: 4px 4px 0 0;
      input,textarea,select{
        padding: 20px 12px 0;
      }
      >.line{
        position: absolute;
        bottom: -1px;
        width: 80%;
        height: 2px;
        background-color: @color-primary;
        opacity: 0;
        transition: width @transition-type-1;
      }
      &:focus-within>.line{
        width: 100%;
        opacity: 1;
      }
      &:not(.aki-input-bgnone){
        background-color: #f5f5f5;
        &:hover{
          background-color: #ececec;
        }
        &:focus-within{
          background-color: #e4e4e4;
        }
      }
    }
    &.aki-input-outline{
      z-index: 1;
      >.line{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: solid 1px rgba(0,0,0,.42);
        border-radius: 4px;
        transition: all @transition-type-2;
        z-index: -1;
      }
      &:focus-within{
        >.line{
          border: solid 2px @color-primary;
        }
      }
      input,textarea,select{
        padding: 0 12px;
      }
      label{
        left: 8px;
        padding: 0 4px;
        &.aside{
          top: -8px;
          background-color: inherit;
        }
      }
    }
  }
  >.aki-input-selection{
    display: inline-flex;
    align-items: center;
    >input{
      display: none;
      &[type=radio] {
        &+i,&+i>b{
          border-radius: 50%;
        }
      }
      &:checked+i{
        border-color: @color-primary;
        >b{
          transform: scale(1);
        }
      }
    }
    >label{
      flex: 1;
    }
    i,b{
      display: inline-block;
      border-radius: 2px;
      transition: @transition-type-1;
    }
    i{
      position: relative;
      margin-right: 12px;
      width: 16px;
      height: 16px;
      box-sizing: border-box;
      border: solid 2px rgba(0,0,0,.42);
    }
    b{
      position: absolute;
      left: 3px;
      top: 3px;
      width: 6px;
      height: 6px;
      background-color: @color-primary;
      transform: scale(0);
    }
  }
}
/**
  **********************************
  * badges
  **********************************
**/
.aki-badges{
  position: relative;
  &::after{
    position: absolute;
    color: white;
    border-radius: 10px;
    background-color: red;
  }
  &.aki-badges-dot::after{
    content: '';
    top: -4px;
    left: 90%;
    width: 8px;
    height: 8px;
  }
  &:not(.aki-badges-dot)::after{
    content: attr(badges);
    top: -5px;
    left: 90%;
    box-sizing: border-box;
    padding: 0 4px;
    min-width: 12px;
    height: 12px;
    text-align: center;
    line-height: 12px;
    font-size: 10px;
  }
}
/**
  **********************************
  * toolbars
  **********************************
**/
.aki-toolbars{
  min-height: 56px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  &:not(.aki-toolbars-fill){
    box-shadow: @shadow-level-2;
  }
  &.aki-toolbars-fill{
    background-color: @color-primary;
    .aki-toolbar{
      color: overlay(@color-primary, #bbb);
      &.aki-toolbar-active{
        color: #fff;
      }
    }
  }
  z-index: 90;
  >.aki-toolbar-layout{
    display: flex;
    width: 100%;
    max-width: 425px;
    >.aki-toolbar{
      flex-grow: 1;
      >input[name=aki-toolbar]{
        display: none;
      }
      >label{
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        min-width: 80px;
        max-width: 168px;
        height: 100%;
        >div{
          display: inline-flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          color: inherit;
          >svg{
            fill: currentColor;
          }
          >.aki-toolbar-text{
            font-size: 10px;
          }
        }
      }
    }
  }
}
.aki-toolbar{
  color: #aaa;;
  &.aki-toolbar-active{
    color: @color-primary;
  }
}

.aki-modal-wrap{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.32);
  z-index: 800;
}
/**
  **********************************
  * dialog
  **********************************
**/
@dialog-border: #e0e0e0;
.aki-dialog{
  .aki-modal-wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  >.aki-dialog-layout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80vw;
    min-width: 280px;
    max-width: 560px;
    max-height: 500px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: @shadow-level-3;
    >header,>main,>footer{
      padding-right: 24px;
      padding-left: 24px;
      box-sizing: border-box;
      *{
        margin: 0;
      }
    }
    >header{
      padding-top: 20px;
      padding-bottom: 14px;
      line-height: 28px;
    }
    >main{
      flex: 1;
      padding-top: 20px;
      padding-bottom: 20px;
      line-height: 24px;
      color: #757575;
    }
    >footer{
      display: flex;
      justify-content: flex-end;
      padding: 8px;
      min-height: 52px;
      text-align: right;
    }
    &.aki-dialog-scroll{
      >header{
        border-bottom: solid 1px @dialog-border;
      }
      >main{
        max-height: 314px;
        overflow-y: scroll;
      }
      >footer{
        border-top: solid 1px @dialog-border;
      }
    }
  }
}

/**
  **********************************
  * bottom-sheet
  **********************************
**/

.aki-bottom-sheet{
  .aki-modal-wrap;
  >.aki-bottom-sheet-layout{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    max-height: 50vh;
    background-color: #fff;
    >header,>main>*{
      display: flex;
      align-items: center;
      margin: 0;
      padding: 16px;
      min-height: 56px;
      box-sizing: border-box;
    }
    >header{
      color: #666;
    }
    >main{
      flex: 1;
    }
    
    &.aki-bottom-sheet-scroll{
      >header{
        border-bottom: solid 1px @dialog-border;
      }
      >main{
        overflow-y: scroll;
      }
    }
  }
}

/**
  **********************************
  * topbars
  **********************************
**/

.aki-shadow-bottom{
  box-shadow: 0 3px 1px 0 rgba(0,0,0,.2), 0 4px 2px 0 rgba(0,0,0,.14), 0 7px 5px 0 rgba(0,0,0,.12);
}
.aki-topbars{
  z-index: 5;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 16px;
  min-height: 56px;
  color: @color-primary;
  background-color: white;
  &.aki-topbars-fill{
    color: white;
    background-color: @color-primary;
  }
  .aki-topbar-nav{
    min-width: 24px;
    min-height: 24px;
    >*{
      margin: 0;
    }
  }
  >h1{
    flex: 1;
    margin: 0;
    padding-left: 32px;
    font-size: 16px;
  }
  .aki-topbar-action{
    display: flex;
    >*{
      margin-left: 24px;
    }
  }
}

/**
  **********************************
  * tabs
  **********************************
**/

.aki-tabs{
  z-index: 5;
  color: #888;
  background-color: white;
  .aki-tab-active{
    color: @color-primary;
  }
  &.aki-tabs-fill{
    color: mix(#eee, @color-primary);
    background-color: @color-primary;
    
    .aki-tab-active{
      color: white;
    }
    >.aki-tab-layout>.aki-tab-line{
      background-color: white;
    }
  }
  &.aki-tabs-scroll{
    // width: 100vw;
    overflow-x: scroll;
    >.aki-tab-layout{
      margin-left: 52px;
      width: max-content;
    }
  }
  &:not(.aki-tabs-scroll){
    .aki-tab{
      flex: 1;
    }
  }
  >.aki-tab-layout{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    // width: 100%;
    >.aki-tab{
      >input[name=aki-tab]{
        display: none;
      }
      >label{
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 0 16px;
        min-width: 90px;
        max-width: 360px;
        min-height: 48px;
        >div{
          display: inline-flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          // padding: 12px 0;
          // line-height: 1;
          color: inherit;
          >svg{
            fill: currentColor;
          }
        }
      }
    }
    >.aki-tab-line{
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      background-color: @color-primary;
      transform: translateX(0);
      transition: @transition-type-1;
    }
  }
}

/**
  **********************************
  * layout
  **********************************
**/
.aki-page{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  // >.aki-shadow-bottom+.aki-page-main{
  //   margin-top: 5px;
  // }
  >.aki-page-main{
    flex: 1;
    overflow-y: scroll;
  }
}

/**
  **********************************
  * animated
  **********************************
**/

.aki-fade-enter-active, .aki-fade-leave-active {
  transition: @transition-type-1;
}
.aki-fade-enter,.aki-fade-leave-to{
  opacity: 0;
}
.aki-bgfade-enter-active, .aki-bgfade-leave-active {
  transition: @transition-type-1;
}
.aki-bgfade-enter,.aki-bgfade-leave-to{
  background-color: rgba(0,0,0,0);
}
.aki-slide-bottom-enter-active, .aki-slide-bottom-leave-active {
  transition: @transition-type-1;
}
.aki-slide-bottom-enter,.aki-slide-bottom-leave-to{
  transform: translateY(101%);
}
.aki-fade-zoom-enter-active, .aki-fade-zoom-leave-active {
  transition: .2s ease-out;
}
.aki-fade-zoom-enter,.aki-fade-zoom-leave-to{
  opacity: 0;
  transform: scale(.8);
}